<div class = "container text-center my-3">
    <h3 class ="d-flex flex-nowrap justify-content-center"><i class="fas fa-cloud"></i><p class = "mx-2">ふらっとへようこそ</p><i class="fas fa-cloud"></i></h3>
    <p>ふらっとでは</p>
    <p>行ってみたい、参加してみたいけど一人だと抵抗がある…</p>
    <p>友達を自分の趣味につきあわせるのには申し訳ないな…</p>
    <p>そんなあなたのために…　目的地を決めてから仲間を探してみませんか？</p>
    <p>想いを投稿して一緒に行く仲間を誘ってみましょ～！！</p>
    <p>ふらっときままに新天地へGO~</p>
</div>
