@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

main{
   background-color: #1ed4e721
 }
body{
    font-family: 'Kaisei Opti', serif;
    font-weight: bold;
}

p{
  overflow-wrap: break-word;
}
a {
    text-decoration: none !important;
    color: #660000;
    transition: color .8s;
}
a:hover{
    color: #3aacad;
}

.page-title{
    font-family: 'Merriweather', serif;
    color: #660000;
    text-transform: uppercase;
}
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}
