@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

main{
   background-color: #1ed4e721
 }
body{
    font-family: 'Kaisei Opti', serif;
    font-weight: bold;
}

p{
  overflow-wrap: break-word;
}
